@model PrimoCeramic.Models.ViewModel.ShoppingCartViewModel
@using PrimoCeramic.Utility
@{double AllTotal = 0; }
@{double Allvattotal = 0; }
@{double Allvat = 0; }
@{double AllQuantity = 0; }

@{
    ViewData["Title"] = "Index";

}


<br /><br /><br /><br />
<h2 class="text-info">Your Shopping Cart</h2>
<br />
<form>
    @if (Model.Products.Count > 0)
    {
        <div class="container border border-secondary rounded " style="padding:5px;">
            <div class="row">
                <div class="col-sm-2" style="padding-left:30px; border-right:1px solid #bbb9b9;">

                    <div class="row" style="padding:5px;">
                        @if (User.IsInRole(SD.CustomerUser) || User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
                        {
                            <div class="col-12" style="padding:5px;">
                                <input type="submit" value="Confirm" asp-action="ChooseAddress" class="btn btn-primary" />
                                <p>You can select your address in the next page</p>
                            </div>
                        }
                        else
                        {
                            <div class="col-12" style="padding:5px;">
                                <a asp-area="Identity" class="btn btn-primary" asp-route-returnUrl="/Customer/ShoppingCart" asp-page="/Account/Login">Login</a>
                            </div>
                        }


                    </div>

                </div>

                <div class="col-lg-10 col-sm-12">
                    <table class="table table-responsive-sm" width="100%">
                        <tr class="table-info">
                            <th style="text-align:center; border-radius: 15px 0px 0px 15px; background-color:dimgrey;border:0px">

                            </th>

                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>Product name</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>

                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>Type</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>QTY</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>Price</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>Total without VAT</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>VAT</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>Total with VAT</label>
                            </th>

                            <th style="text-align:center;border-radius: 0px 15px 15px 0px;background-color:dimgrey;border:0">

                            </th>
                        </tr>
                        @for (int x = 0; x < Model.Products.Count; x++)
                        {
                            <tr style="padding:50px">
                                <td>
                                    <a asp-area="Customer" asp-controller="Ceramic" asp-action="Details" asp-route-id="@Model.Products[x].Id">

                                        <img src="@Model.Products[x].Image" style="width:50px; text-align:center;border-radius:5px;border:1px solid #bbb9b9" />
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => Model.Products[x].Name)

                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => Model.Products[x].Price)

                                </td>

                                <td style="text-align:center">

                                    @Html.DisplayFor(c => Model.Products[x].ProductTypes.Name)

                                </td>
                                <td style="text-align:center">
                                    @{AllQuantity += Model.ShoppingCart[x].Quantity;}


                                    @Html.DisplayFor(c => Model.ShoppingCart[x].Quantity)

                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => Model.Products[x].Price)

                                </td>
                                <td style="text-align:center">
                                    @{double total = Model.Products[x].Price * Model.ShoppingCart[x].Quantity; }
                                    @{AllTotal += total;}
                                    @total


                                </td>
                                <td style="text-align:center">
                                    @{double vat = total * Model.Vat.DoubleValue / 100; }
                                    @{Allvat += vat;}
                                    @vat


                                </td>
                                <td style="text-align:center">
                                    @{double totalwithvat = total + vat; }
                                    @{Allvattotal += totalwithvat;}
                                    @totalwithvat


                                </td>
                                <td>

                                    <button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-id="@Model.Products[x].Id">

                                        <i class="fas fa-trash-alt"></i>
                                    </button>

                                </td>
                            </tr>
                        }
                        <tr class="table-info">
                            <th style="text-align:center; border-radius: 15px 0px 0px 15px; background-color:dimgrey;border:0px">

                            </th>

                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                               
                            </th>

                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                              
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>Total:</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label> @AllTotal</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>   @Allvat</label>
                            </th>
                            <th style="text-align:center;background-color:dimgrey;border:0px">
                                <label>    @Allvattotal</label>
                            </th>

                            <th style="text-align:center;border-radius: 0px 15px 15px 0px;background-color:dimgrey;border:0">

                            </th>
                        </tr>
                    </table>
                </div>


            </div>

        </div>
    }
    else
    {
        <div style="color:white">No items added to the shopping cart.....</div>
    }

</form>

@section Scripts{
    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '7',
            maxTime: '6:00pm',
            defaultTime: '7',
            startTime: '7:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });
        $(function () {
            $("#datepicker").datepicker({
                minDate: +0, maxDate: "+3M"
            });
        });

    </script>
}